* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #000; }

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 600; }
  @media (min-width: 1200px) {
    h1 h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 600; }
  @media (min-width: 1200px) {
    h2 h2 {
      font-size: 2rem; } }

h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500; }
  @media (min-width: 1200px) {
    h3 h3 {
      font-size: 1.75rem; } }

h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 400; }
  @media (min-width: 1200px) {
    h4 h4 {
      font-size: 1.5rem; } }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

button {
  display: inline-block;
  background-color: #264cb4;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  border-style: none;
  padding: 15px 30px;
  vertical-align: middle; }

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #264cb4;
  scale: 1.1;
  display: inline-block;
  transition: all .3s; }

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #264cb4;
  opacity: 1; }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 992px; } }

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px; } }

@media (max-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px; } }

@media (max-width: 2000px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 2000px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto; }

.contenedorPrincipal {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 3rem 3rem 3rem 3rem;
  box-sizing: border-box; }

.page-section {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

.col-xl-6 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between; }

.header__logo:hover {
  transform: scale(1.1); }

.header__logo {
  margin-left: 0px; }

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  justify-content: center;
  transition: box-shadow 0.15s ease-in-out; }

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none; } }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.navbar .navbar-toggler {
  background-color: #000;
  border-color: #fff; }

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 0.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .20s ease-in-out;
  justify-self: center; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  justify-items: center; }

.botonNav {
  justify-items: end; }

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row; }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-sm .navbar-toggler {
    display: none; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-md .navbar-nav {
    flex-direction: row; }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-md .navbar-toggler {
    display: none; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-lg .navbar-toggler {
    display: none; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row; }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-xl .navbar-toggler {
    display: none; } }

@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row; }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible; }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-xxl .navbar-toggler {
    display: none; } }

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start; }

.navbar-expand .navbar-nav {
  flex-direction: row; }

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute; }

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.navbar-expand .navbar-nav-scroll {
  overflow: visible; }

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto; }

.navbar-expand .navbar-toggler {
  display: none; }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url(media/laser.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0; } }

@media (min-width: 992px) {
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important; } }

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.h-100 {
  height: 100% !important; }

.carousel-inner img {
  background-position: center; }

.carousel-inner h2 {
  text-shadow: 1px 1px 6px grey; }

.carousel-inner h4 {
  text-shadow: 1px 1px 6px grey; }

@media screen and (min-width: 768px) {
  height: 650px; }

.carousel-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: 100px;
  z-index: 10;
  color: #fff;
  text-align: center; }

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 20px; } }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5; }

.contenedorPrincipal img {
  margin-bottom: 2rem; }

.contenedorInfo h2 {
  margin-bottom: 15px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 2ms;
  animation-timing-function: ease-in-out; }

.contenedorInfo h4 {
  text-align: justify; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contenedorInfo hr.divider {
  margin-left: 0; }

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%; } }

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0 !important; } }

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%; } }

.rounded-circle {
  border-radius: 50% !important; }

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

@media (min-width: 992px) {
  .justify-content-lg-between {
    justify-content: space-between !important; } }

#servicios {
  background-color: #fff;
  color: #000; }

.text-primary {
  color: #264cb4 !important; }

#servicios h2 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 2ms;
  animation-timing-function: ease-in-out; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.iconos {
  margin-top: 2rem; }

i.fas {
  opacity: 1.0; }

i.fa-inverse {
  opacity: 0.5; }

i.fa-inverse:hover {
  opacity: 1.0; }

#productos {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box; }

#productos h2 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 2ms;
  animation-timing-function: ease-in-out; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem; }

#portfolio a {
  color: #264cb4;
  text-decoration: underline; }

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto auto 1rem; }

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1; }

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem; }

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0; }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px); }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 4rem;
    margin-right: 5rem;
    margin-bottom: 5rem; }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px); }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem); }
  .portfolio-item:hover .caption {
    background-color: #264cb4;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem); } }

#clientes {
  background-color: #fff;
  color: #000; }

@media (min-width: 992px) {
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important; } }

@media (min-width: 992px) {
  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x: 3rem; } }

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%; } }

#clientes h2 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 2ms;
  animation-timing-function: ease-in-out; }

.logos_clientes img {
  width: 100%; }

.hover1 div:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s; }

@-webkit-keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.logos_clientes {
  vertical-align: middle; }
  .logos_clientes .mt-5 {
    margin: auto; }

#contacto .contenedorPrincipal {
  width: 100%; }

#contacto h2 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-delay: 2ms;
  animation-timing-function: ease-in-out; }

iframe {
  display: inline-block;
  float: left;
  margin-top: 1rem;
  width: 50%;
  height: 350px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (min-width: 768px) {
  .map-responsive iframe {
    padding-right: 1rem; } }

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 100%; } }

#contactForm {
  overflow: hidden; }

#contactForm.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

.form-group {
  margin-top: 1rem;
  width: 100%; }

.form-control {
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #264cb4;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

textarea.form-control {
  height: 9rem; }

.botonEnviar {
  margin-top: 1rem;
  margin-bottom: 2rem; }

footer {
  background-color: #555;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap; }

footer a {
  text-decoration: none;
  color: #eee; }

.copyright {
  text-align: center;
  margin-top: 0.8rem; }

@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important; } }

.redes {
  display: flex;
  justify-content: center; }

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%; }

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important; }

.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #000; }

.btn-dark:hover {
  color: #fff;
  background-color: #264cb4;
  border-color: #264cb4; }

#navbar {
  background-color: #000; }

.header__logo:hover {
  transform: scale(1.1); }

.header__logo {
  margin-left: 0px; }

#navbar a {
  color: #fff; }

#navbar a:hover {
  color: #264cb4; }

#productos-individual h4 {
  font-weight: 600; }

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem; } }

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%; }

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%; } }

.foto-producto .col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px; }

#productos-individual img {
  margin-bottom: 0rem; }

.cuadro_producto .col-lg-6 {
  padding-left: 0px;
  padding-right: 0px; }

.cuadro-foto {
  display: flex;
  justify-content: center; }
