#servicios {
  background-color: #fff;
  color: #000;
}

.text-primary {
    color: #264cb4 !important;
}

#servicios h2{
	animation-name: aparecer;
   	animation-duration: 3s;
   	animation-delay: 2ms;
   	animation-timing-function: ease-in-out;
}

@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

.iconos{
	margin-top: 2rem;
}

i.fas{
	opacity: 1.0;
}

i.fa-inverse{
  opacity: 0.5;
}

i.fa-inverse:hover{
	opacity: 1.0;
}

